<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <h1>Contact Me</h1>
        <h3>You can always find me on the following websites:</h3>
        <ul>
          <li>
            <%= link_to 'GitHub', 'https://github.com/tologon', target: '_blank' %>
            - where you can find my currrent and previous projects.
          </li>
          <li>
            <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/tologon', target: '_blank' %>
            - where you can see my professional profile and connections.
          </li>
        </ul>
        <h4>For quick response, fill out the form below & I'll contact you as soon as I can.</h4>

        <%= form_tag(pages_contact_path, method: "get", remote: true, class: 'form-horizontal') do %>
          <div id="flash"></div>
          <br>
          <div class="form-group text-left">
            <%= label_tag :name, "Name:", class: 'col-sm-1 col-md-3' %>
            <div class='col-sm-11 col-md-9'>
              <%= text_field :user, :name, placeholder: "Your name", class: "form-control" %>
            </div>
          </div>

          <div class="form-group text-left">
            <%= label_tag :email, "Email:", class: 'col-sm-1 col-md-3' %>
            <div class='col-sm-11 col-md-9'>
              <%= email_field :user, :email, required: true, placeholder: "Your email", class: "form-control" %>
            </div>
          </div>

          <div class="form-group text-left">
            <%= label_tag :message, "Message:", class: 'col-sm-1 col-md-3' %>
            <div class='col-sm-11 col-md-9'>
              <%= text_area :user, :message, required: true, rows: '5', placeholder: "Your message...", class: "form-control" %>
            </div>
          </div>

          <div class="form-group pull-right">
            <div class="col-xs-9" >
              <%= recaptcha_tags site_key: ENV["RECAPTCHA_PUBLIC_KEY"] %>
            </div>
            <div class="col-xs-3">
              <%= submit_tag "Send", class: 'btn btn-success btn-lg' %>
            </div>
          </div>
        <% end %>
    </div>
</div>
