<div class="row">
    <div class="col-lg-12">
      <h1><%= Settings.intro.title %></h1>
    </div>
    <div class="col-sm-3 col-xs-12 text-center">
      <%= image_tag Settings.intro.image, class: "img-responsive img-circle img-profile" %>
    </div>
    <div class="col-sm-9 col-xs-12">
      <p class="intro">
        <%= Settings.intro.main_text %>
      </p>
      <p>
        <b><%= Settings.intro.skills_title %></b>
        <ul>
          <% Settings.intro.skills.each do |type, skills| %>
            <li><strong><%= type %>: </strong><%= skills %></li>
          <% end %>
        </ul>
      </p>
      <br>
    </div>
</div>
