<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/meta_tags' %>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/assets_tags' %>
    <%= render 'layouts/shim' %>
  </head>

  <%= render 'layouts/header' %>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <%= yield %>
  </body>
</html>
